

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<form  style="margin-top: 5em;margin-left: 20em" action="/signin" method="POST">
    <div class="form-inline"  >
      <label for="inputUsername6">Username</label>
      <input type="text" id="inputUsername6" name="username"class="form-control mx-sm-3" >
    </div>
    <div class="form-inline" style="margin-top: 2em ;margin-left: 0.3em">
        <label for="inputPassword6">Password</label>
        <input type="password" id="inputPassword6" name="password" class="form-control mx-sm-3" >
   </div>
  <button type="submit" class="btn btn-primary"style="margin-left: 9em ; margin-top:2em">Sign in</button>
</form>

<a class="btn btn-xs btn-primary" style="margin-left: 26em" href="/auth/facebook"> SignIn via Facebook</a>
<!-----class="form-group">